body{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
}

#score {
    display: flex;
    justify-content: space-evenly;
    background-color: hotpink;
    flex-grow: 1;
}

.player,
.computer {
    display: flex;
    align-items: center;
    font-size: 100px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: black;
    padding: 16px;
}

#choice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    background-color: yellow;
}

.player-choice,
.computer-choice {
    font-size: 100px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}