body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
}

#buttons{
    background-color: black;
    padding: 16px;
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: hotpink;
    padding: 16px;
}